<% include partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/styles/home.css" />

<body>
    <% include partials/navbar %>
    <div class="home__photo--container" style="background-image: url('<%= home.img %>')">

    </div>

    <div class="body__container">
        <div class='appartment__information--container'>
            <div class="appartment__title">
                <div class="appartment__title--text">
                    <p>ENTIRE APARTMENT</p>
                    <h3>
                        <%= home.title %>
                    </h3>
                    <p>Rome</p> <br>
                </div>
                <div class="appartment__title--icon button__red">
                    <img src="https://www.asalesguy.com/wp-content/uploads/2016/09/Egg-on-Your-Face.jpg"
                            class="rounded-circle rounded mx-auto d-block" style="width: 60px; height: 60px">
                    <p><%= home.host[0].username %></p>
                    <% if(user && user.username === home.host[0].username){ %>
                        <a href="/rooms/<%=home._id%>/edit"><button >Edit</button></a> 
                        <%  } %> 
                </div>
            </div>
            <div class="house__info">
                <span>2 guests</span> <span>
                    <%= home.beds %> bedroom </span> <span>1 bed</span> <span>1 bath</span>
            </div>
            <div class="house__char">
                <br>
                <p>Self check-in</p>
                <p class="normal__font">You can check in with the doorman.</p>
                <br>
                <p>Breakfast</p>
                <p class="normal__font">This is one of a few places in the area that has this feature.</p>
                <br>
                <p>Rita is a Superhost</p>
                <p class="normal__font">Superhosts are experienced, highly rated hosts who are committed to providing
                    great stays for
                    guests.</p>
            </div>

        </div>

        <div class="reservation__menu--container">
            <div class="test">
                <div class="flexbox--column menu__hidden--margin">
                    <label for="WHERE"> <b style="font-size:28px">€
                            <%= home.price %></b> per night</label>
                    <label for="WHERE">
                        <% for(let j=0; j < home.stars; j++) { %>
                        &#9733;
                        <%}%>
                        <%= Math.floor((Math.random() * 500) + 1) %>
                    </label>
                </div>
                <div class="flexbox--row menu__hidden--margin">
                    <div class="flexbox--column ">
                        <label for="CHECK IN">Dates</label>
                        <input type="text" placeholder="dd/mm/yyyy">
                    </div>
                    <div class="flexbox--column">
                        <label for="CHECK IN"> &#8192;</label>
                        <input type="text" placeholder="dd/mm/yyyy">
                    </div>
                </div>
                <div class="flexbox--column menu__hidden--margin">
                    <label for="GUESTS">Guests</label>
                    <input type="GUESTS" placeholder="1 guest">
                </div>
                <div class="button__red">
                    <button type="search">Request to book</button>
                </div>
            </div>
        </div>
    </div>
</body>
<% include partials/footer %>